@using Oqtane.Modules.Controls
@using Me.MyModule.Services
@using Me.MyModule.Models

@namespace Me.MyModule
@inherits ModuleBase
@inject IMyModuleService MyModuleService
@inject NavigationManager NavigationManager

<table class="table table-borderless">
    <tr>
        <td>
            <Label For="name" HelpText="Enter a name">Name: </Label>
        </td>
        <td>
            <input id="name" class="form-control" @bind="@_name" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
@if (PageState.Action == "Edit")
{
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage MyModule";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" }
    };

    int _id;
    string _name;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                MyModule MyModule = await MyModuleService.GetMyModuleAsync(_id, ModuleState.ModuleId);
                if (MyModule != null)
                {
                    _name = MyModule.Name;
                    _createdby = MyModule.CreatedBy;
                    _createdon = MyModule.CreatedOn;
                    _modifiedby = MyModule.ModifiedBy;
                    _modifiedon = MyModule.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading MyModule {MyModuleId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading MyModule", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            if (PageState.Action == "Add")
            {
                MyModule MyModule = new MyModule();
                MyModule.ModuleId = ModuleState.ModuleId;
                MyModule.Name = _name;
                MyModule = await MyModuleService.AddMyModuleAsync(MyModule);
                await logger.LogInformation("MyModule Added {MyModule}", MyModule);
            }
            else
            {
                MyModule MyModule = await MyModuleService.GetMyModuleAsync(_id, ModuleState.ModuleId);
                MyModule.Name = _name;
                await MyModuleService.UpdateMyModuleAsync(MyModule);
                await logger.LogInformation("MyModule Updated {MyModule}", MyModule);
            }
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving MyModule {Error}", ex.Message);
            AddModuleMessage("Error Saving MyModule", MessageType.Error);
        }
    }
}
